:root {
  --light-cream-color : #F9E8D9;
  --cream-color : #F7B787;
  --dark-cream-color : #EE7214;
  --black-color : #000;
  --light-green-color: #9BD49C;
  --green-color: #527853;
  /* --green-color: #527853; */
  --white-color: #fff;
  --orange-color: #FF3333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


/* CUSTOM STYLE */

/* Color custom */
.light-cream-color {
  color: var(--light-cream-color);
}
.cream-color {
  color: var(--cream-color);
}
.dark-cream-color {
  color: var(--dark-cream-color);
}
.black-color {
  color: var(--black-color);
}
.light-green-color {
  color: var(--light-green-color);
}
.green-color {
  color: var(--green-color);
}
.white-color {
  color: var(--white-color);
}
.orange-color {
  color: var(--orange-color);
}

/* Background custom */
.light-cream-bg {
  background-color: var(--light-cream-color);
}
.cream-bg {
  background-color: var(--cream-color);
}
.dark-cream-bg {
  background-color: var(--dark-cream-color);
}
.black-bg {
  background-color: var(--black-color);
}
.light-green-bg {
  background-color: var(--light-green-color);
}
.green-bg {
  background-color: var(--green-color);
}
.op-green-bg {
  background-color: rgba(82, 120, 83, 0.25);
}
.white-bg {
  background-color: var(--white-color);
}
.orange-bg {
  background-color: var(--orange-color);
}


.linear-bg {
  background: linear-gradient(to right, #F7B787, #F57906);
}
.linear2-bg {
  background: linear-gradient(to bottom right, #F9E8D9, #F7B787);
}
.linear3-bg {
  background: linear-gradient(to right, #F9E8D9, #F7B787);
}
.linear4-bg {
  background: linear-gradient(to right, #F57906, #F7B787);
}

.linear5-bg {
  background: linear-gradient(to right, #F9E8D9, #ffffff);
}


/* Border custom */
.cream-border {
  border: 1px solid var(--cream-color);
}



/* Font Size custom */
.fs-10{
  font-size: 10px;
}
.fs-15{
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}
.fs-45 {
  font-size: 45px;
}
.fs-50 {
  font-size: 50px;
}
.fs-55 {
  font-size: 55px;
}
.fs-60 {
  font-size: 60px;
}
.fs-65 {
  font-size: 65px;
}
.fs-70 {
  font-size: 70px;
}
.fs-80 {
  font-size: 80px;
}

.fs-100 {
  font-size: 100px;
}

.col-1 {
  width: 40px;
}


/* Custom Component Style */
.btn-skintest {
  background-color: var(--dark-cream-color);
}

.discount {
  background-color: rgba(255, 51, 51, 0.1);
}

.accordion-button.no-collapsed::after {
  display: none;
}


